body {
    background: url("https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    padding-top: 150px;
}

#infoboksi {
    background: rgba(255, 255, 255, .65);
    width: 22%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

#info {
    display: block;
}

#otsikko {

}